{% extends "core/base.html" %} {% block body %}
<div style="background-color: #f2f6f6" class="text-center py-5">
  <h1 class="fw-bold">About Us</h1>
</div>
<div class="container my-5">
  <!-- Gallery -->
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-lg-6 mb-6 mb-lg-0">
          <img
            src="https://doccure.dreamstechnologies.com/laravel/template/public/assets/img/about-img1.jpg"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Mountains in the Clouds"
          />

          <img
            src="https://doccure.dreamstechnologies.com/laravel/template/public/assets/img/about-img2.jpg"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Boat on Calm Water"
          />
        </div>

        <div class="col-lg-6 mb-6 mb-lg-0">
          <div class="bg-primary w-100 shadow-1-strong rounded mb-4 p-2">
            <h5 class="p-5 text-center text-light">
              Over 25+ Years Experience
            </h5>
          </div>

          <img
            src="https://doccure.dreamstechnologies.com/laravel/template/public/assets/img/about-img3.jpg"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Yosemite National Park"
          />
        </div>
      </div>
      <!-- Gallery -->
    </div>
    <div class="col-md-6 d-flex flex-column gap-4">
      <h5 class="text-primary">About Our Company</h5>
      <h1>We Are Always Ensure Best Medical Treatment For Your Health</h1>
      <p>
        Welcome to HealthPro, where health meets compassion. Established in 10+,
        we are a community-driven healthcare institution committed to providing
        exceptional and personalized medical services. Our experienced team of
        professionals ensures the highest standard of care, blending advanced
        technology with a human touch. Beyond treating illnesses, we prioritize
        well-being, fostering a culture of healing and support. As a trusted
        name in healthcare, we embrace innovation and community engagement,
        extending our impact beyond hospital walls. Thank you for choosing
        HealthPro, where your health and comfort are our top priorities.
        Experience the difference of quality, compassionate care with us.
      </p>

      <div class="d-flex gap-3 align-items-center">
        <div class="bg-primary rounded-circle p-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="35"
            height="35"
            fill="currentColor"
            class="bi bi-telephone text-light"
            viewBox="0 0 16 16"
          >
            <path
              d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"
            />
          </svg>
        </div>
        <div>
          <h5>Need Emergency?</h5>
          <h4>+1 315 369 5943</h4>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
