{% extends "core/base.html" %} {% load crispy_forms_tags %} {% block body %}
<div></div>
{% load crispy_forms_tags %}

<div class="container my-5">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <img class="img-fluid" src="{{data.image.url}}" alt="" />
        </div>
        <div class="col-md-8">
          <h5 class="card-title">
            {{data.user.first_name}} {{data.user.last_name}}
          </h5>
          <p class="card-text">
            Meet Dr., a distinguished neurologist committed to comprehensive
            neurological care. With extensive expertise in diagnosing and
            treating diverse neurological conditions, Dr. combines compassion
            and innovation to provide personalized solutions. Trust in a
            healthcare partner dedicated to optimizing your neurological
            well-being and enhancing your quality of life.
          </p>
          {% for ss in data.specialization.all %}
          <div></div>
          <span class="badge text-bg-secondary">{{ ss.name }}</span>
          {% endfor %}

          <div class="d-flex justify-content-between">
            <h5 class="mt-2">${{data.fee}}</h5>
            {% if user.is_authenticated %}
            <button
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              class="btn btn-info text-light fw-semibold"
            >
              Book Appointment
            </button>

            {% else %}
            <p
              data-bs-toggle="tooltip"
              data-bs-placement="bottom"
              data-bs-title="Please login then Appointment"
            >
              <button
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                class="btn btn-info text-light fw-semibold"
                disabled
              >
                Book Appointment
              </button>
            </p>

            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  {% comment %} Reviews {% endcomment %}
  <div>
    <div class="my-5">
      {% for re in review_data %}
      <div class="card p-2 m-2">
        <h4>{{re.reviewer.first_name}} {{re.reviewer.last_name}}</h4>
        <p>{{re.body}}</p>
        <div>{{re.rating}}</div>
      </div>
      {% endfor %}
    </div>
    <form method="post" action="">
      {% csrf_token %}
      <!-- {{form | crispy }} -->
      {% for fm in form%}
      <div>{{fm.label_tag}} {{fm}} {{fm.errors|striptags}}</div>
      {% endfor %}
      <div></div>
      <br />
      {% if is_appointment %}

      <button type="submit" class="btn btn-primary">Submit</button>

      {% else %}
      <p
        class="d-inline"
        data-bs-toggle="tooltip"
        data-bs-placement="bottom"
        data-bs-title="If you have an appointment then you can give a review"
        disabled
      >
        <button type="submit" class="btn btn-primary" disabled>Submit</button>
      </p>
      {% endif %}
    </form>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Make Appointment
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <form action="" method="post" novalidate>
          <div class="modal-body">
            {% csrf_token %}
            <!-- {{appointForm | crispy }} -->
            {% for fm in appointForm%}
            <div>{{fm.label_tag}} {{fm}} {{fm.errors|striptags}}</div>
            {% endfor %}
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
