{% extends "core/base.html" %} {% block body %}
<div>
  <div class="container my-5">
    <div class="row">
      <div class="col-md-6 d-flex align-items-center">
        <img
          class="img-fluid"
          src="https://doccure.dreamstechnologies.com/laravel/template/public/assets/img/login-banner.png"
          alt=""
        />
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body p-4">
            <h5 class="mb-3">Patient Register</h5>
            <form method="post" class="">
              {% csrf_token %} {% for hidden_field in form.hidden_fields %}
              <div></div>
              {{ hidden_field.errors }} {{ hidden_field }} {% endfor %}
              <div></div>
              {% for field in form.visible_fields %}
              <div class="mb-2">
                <label
                  class="block text-gray-700 text-sm font-bold mb-2"
                  for="{{ field.id_for_label }}"
                >
                  {{ field.label }}
                </label>
                <br />
                <input
                  class="form-control"
                  name="{{ field.name }}"
                  id="{{ field.id_for_label }}"
                  type="{{ field.widget_type }}"
                />
              </div>
              {% if field.errors %} {% for error in field.errors %}
              <p class="text-danger">{{ error }}</p>
              {% endfor %} {% endif %} {% endfor %}

              <div class="d-flex justify-content-end">
                <p>
                  <a
                    class="link-offset-2 link-underline link-underline-opacity-0"
                    href="{% url 'login' %}"
                  >
                    Already have an account?</a
                  >
                </p>
              </div>

              <div class="d-grid gap-2">
                <button class="btn btn-primary w-full" type="submit">
                  Sign Up
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
